/*---------------GENERELT---------------*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    font-family: sans-serif;
}

/*---------------GENERELT SLUT-----------*/

/*----------------LANDING PAGE-----------*/




/*-----------LANDING PAGE SLUT-----------*/

/*------------PORTFOLIO------------------*/









/*------------PORTFOLIO SLUT-------------*/


/*----------------OM---------------------*/





/*----------------OM SLUT----------------*/

/*---------------KONTAKT-----------------*/














/*---------------KONTAKT slut-------------*/

/*--------------MEDIA QUERIES-------------*/











/*------------MEDIA QUERIES SLUT----------*/
